.random_0 {
    background: url("/src/assets/images/temp/0.jpg") no-repeat;
    background-size: cover;
}
.random_1 {
    background: url("/src/assets/images/temp/1.jpg") no-repeat;
    background-size: cover;
}
.random_2 {
    background: url("/src/assets/images/temp/2.jpg") no-repeat;
    background-size: cover;
}
.random_3 {
    background: url("/src/assets/images/temp/3.jpg") no-repeat;
    background-size: cover;
}
.random_4 {
    background: url("/src/assets/images/temp/4.jpg") no-repeat;
    background-size: cover;
}
.random_5 {
    background: url("/src/assets/images/temp/5.jpg") no-repeat;
    background-size: cover;
}
.random_6 {
    background: url("/src/assets/images/temp/6.jpg") no-repeat;
    background-size: cover;
}
.random_7 {
    background: url("/src/assets/images/temp/7.jpg") no-repeat;
    background-size: cover;
}
.random_8 {
    background: url("/src/assets/images/temp/8.jpg") no-repeat;
    background-size: cover;
}
.random_9 {
    background: url("/src/assets/images/temp/9.jpg") no-repeat;
    background-size: cover;
}
.random_10 {
    background: url("/src/assets/images/temp/10.jpg") no-repeat;
    background-size: cover;
}
.random_11 {
    background: url("/src/assets/images/temp/11.jpg") no-repeat;
    background-size: cover;
}
.random_12 {
    background: url("/src/assets/images/temp/12.jpg") no-repeat;
    background-size: cover;
}
.random_13 {
    background: url("/src/assets/images/temp/13.jpg") no-repeat;
    background-size: cover;
}
.random_14 {
    background: url("/src/assets/images/temp/14.jpg") no-repeat;
    background-size: cover;
}
.random_15 {
    background: url("/src/assets/images/temp/15.jpg") no-repeat;
    background-size: cover;
}